$color: red;

.page {
    display: flex;
    flex-direction: row ;
    height: 100vh;
    min-height: 100%;
    .test1{
        background-color: red;
    }
    .test2{
        background-color: blue;
    }
}
